#daemon configuration
telnet_port 4444
gdb_port 3333

#interface
interface ft2232
ft2232_device_desc "usbScarab A"
ft2232_layout "olimex-jtag"
ft2232_vid_pid 0x0403 0xbbe0
jtag_speed 5

#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst srst_pulls_trst

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag_device 4 0x1 0xf 0xe

#jtag nTRST and nSRST delay
jtag_nsrst_delay 500
jtag_ntrst_delay 500

#target <type> <startup mode>
#target arm7tdmi <reset mode> <chainpos> <endianness> <variant>

target arm7tdmi little 0 arm7tdmi
[new_target_name] configure -event reset-init { script event/sam7x64_reset.script }

working_area 0 0x00200000 0x4000 nobackup

#flash bank <driver> <base> <size> <chip_width> <bus_width>
flash bank at91sam7 0 0 0 0 0

# For more information about the configuration files, take a look at:
# openocd.texi
